#これはgitignoreです
#追加したファイルは管理外になります。
#git rm -r --cached . //ファイル全体キャッシュ削除
# git status --ignored


#spring-api-test
./spring-api-test/build.gradle
./spring-api-test/src/main/resources/application.properties
./spring-api-test/build

#mysql
./mysql/settings

#docker
./docker-compose.yml
